[
  {talkietalk, [
    {debug, true},  % by defaul - false. Allow global command /terminate to kill talk process
    {initial_talk, {module, function}},  % module and function for start talk
    {callback_handler, {module, function}},
    {inline_handler, {module, function}},
    {global_handler, {module, function}},
    {telegram_token, <<"PUT HEARE TELEGRAM TOKEN">>}
  ]}
].
